.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(250, 250, 250);
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 3rem;
  }
  .navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .navLinks li {
    display: flex;
    align-items: center;
  }
  .navLinks a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease;
  }
  .navLinks a:hover,
  .navLinks a.active {
    color: #6abe1e;
  }
  .btn {
    background-color: #6abe1e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: #4a9617;
  }
  .navtoggle {
    display: none;
  }
  .navtoggleLabel {
    display: none;
  }
  .menuIcon {
    display: none;
  }
  
  @media (max-width: 768px) {
    .navLinks {
      display: none;
      flex-direction: column;
      background-color: white;
      position: absolute;
      top: 50px;
      right: 20px;
      width: 200px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.301);
    }
  
    .navLinks.open { /* Updated to handle the display property */
      display: flex;
    }
    .navtoggleLabel {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .menuIcon {
      display: block;
      margin-right: 10px;
      font-size: 24px;
    }
    .navLinks li{
      margin: 10px 0;  
    }
  }
  